*{
    box-sizing: border-box;
    border-radius: 6px;
    text-overflow: ellipsis;
}

body{
    background-color: #333;
    overflow: hidden;
}
#root{
    max-width: 800px;
    margin: auto;
}

#actions{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    background-color: #444;
}
#actions button{
    background-color: antiquewhite;
    border: none;

    min-width: 4rem;
    min-height: 2rem;
    max-width: 200px;
    max-height: 80px;
    margin: 6px;
}

#Path{
    background-color: antiquewhite;
    border-radius: 2px;
    font-size: medium;
    font-family: sans-serif;
}

#map{
    border-radius: 0;
    cursor: move;
}