.noteList{
    background-color: #444;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.note{
    background-color: bisque;
    color:black;
    padding: 1rem;
    width: 3rem;
    height: 1rem;
    border: 2px black solid;
    margin: 0.5rem;

    display: flex;
    align-items: center;
    text-align: center;
}